<form id="form" class="login-form">
    <div class="card">
        <h1><strong>Newshub</strong></h1>
        <h2>Log in</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="needh">
            <span><a href="#">Need help?</a></span>
        </div>
        <div class="login-button-submit">
            <button type="submit" id="submit" class="login-button-submit">Log in</button>
        </div>
        <div class="reset">
            <span><a href="https://www.oag.ca.gov/privacy/ccpa">By creating an account or login in, you agree and read California Consumer Privacy Act</a></span>
        </div>
    </div>
</form>
<script src=" /js/login.js"></script>