<main class="form-signin">
<section class="card" id="login-form-section"> 
    <h1 class="h3 mb-3 fw-normal">Sign up</h2> <!-- Form: Block level elements , a parent-->
        <div >
            <label id="usernameLabel" for="floatingInput">Username</label> <!-- div: Inline level elements -->
            <input type="text" id="username floatingInput" name="username" required>
        </div>

        <div class="pEmailLabel">
            <label id="emailLabel" for="floatingInput">Email</label>
            <input type="email" id="email floatingInput" name="email" placeholder="name@exaple.com">
        </div>

        <div class="pPasswordLabel">
            <label id="passwordLabel" for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="login-button">  
            <button id="submitBtn" class="btn btn-primary w-100 py-2" type="submit">Sign up</button> <!-- Block level elements -->
        </div>
        <a class="form" href ="/login">Log in instead!</a>
    </form>
</section>
</main>
<script src="/js/signup.js"></script>