body{
  background: rgb(247, 247, 249);
  background: linear-gradient(
    90deg,
    rgba(247, 247, 249, 1) 0%,
    rgba(201, 169, 172, 1) 91%
  );
}
.card {
  width: 580px;
  height: 90%;
  margin: 0 auto;
  padding: 16px;
  border: 3px solid white;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(163, 10, 10);
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 15px;
}
h6 {
  margin-top: 20px;
  margin-bottom: 30px;
}
form {
  padding: 20px;
}
.login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  font-size: 20px;
  height: 7%;
}
input[type=text], input[type=password] {
  height: 40px;
  font-size: 20px;
  width: 100%;
  padding: 14px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: 1px solid black;
  background: white
}

/* .reset {
  font-size: 15px;
  color: black;
  text-align: right;
  margin-top: 10px;
} */

.needh {
  font-size: 15px;
  color: black; 
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.needh a {
  color: black;
  text-decoration: none;
}
.reset {
  font-size: 15px;
  color: black;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;;
}
.reset a {
  color: black;
  text-decoration: none;
}
.login-button-submit {
  background-color: blue;
  color: white;
  padding: 2px 10px;
  margin-top: 25px;
  margin-bottom: 40px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  align-items: center;
}


