
body {
    background-color: white; /* Set the background color of the body to white */
    font-family: Arial, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: black;
    font: black;
    padding: 20px 30px;
  }
  
  .wrapper {
    background-color: #dffbdf; /* Set the background color of the wrapper */
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: inset 10px 5px 5px lightgray; Add a narrow white border inside the existing border */
    width: 100%;
    height: 100%;
    margin: 2px auto;
    max-width: 85%;
  }
  
  main {
    padding: 20px;
  }

  h1 {
    font: white;
    font-size: 30px;
    box-shadow: inset;
    text-align: left;
    margin-left: 20px;
  }
  
  nav ul {
    list-style-type: none; /* Remove bullets */
    font: white;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    background-color: black;
  }
  
  nav ul li {
    list-style-type: none; /* Remove bullets */
    font: 16px Arial;
    font: black;
    display: inline;
  }
  
  nav ul li a {
    color: white; /* Set the color of the links to white */
    text-decoration: none;
    font-size: 25px; /* Increase the font size */
    font-family: Arial, sans-serif; /* Ensure the font family is applied */
    margin-left: 20px;
  }
  
  h1 {
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
  }
  
  h2 {
    font-size: 20px;
    margin-left: 20px;
  }
  
  ul {
    padding-left: 40px;
    font-size: 20px;
    list-style-type: none;
  }
  
  .common-list {
    background-color: white;
    padding-left: 40px;
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  .card {
    width: 95%;
    height: 95%;
    margin: 20px auto;
    border: 1px solid black;
  }
  
  .title-box {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 7px 7px lightgray;
    /* rgba(0, 0, 0, 0); Increase blur radius, opacity, and add spread radius */
    display: inline-block;
  }
  
  .common-heading {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  .login-button {
    background-color: black;
    border: none;
    color: white;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 30px 2px;
    cursor: pointer;
    border-radius: 4px;
     width: 97%;
  }
  
  .login-button-submit {
    background-color: black;
    border: none;
    color: white;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 1px;
    cursor: pointer;
   /*  width: 95%; */
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .highlighted-text {
    background-color: white;
    border: 2px solid blue;
    padding: 10px;
    display: inline-block;
  }
  